body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}
.btn-close:focus{
  outline: none;
  box-shadow: none;
}
.offcanvas-title {
  text-align: center;
  margin-right: 30px;
  color: #2eb875;
  font-weight: 1000;
  font-size: 28px;
}

.offcanvas-header {
  padding: 1rem 2rem;
}

.offcanvas-body {
  padding: 1rem 0rem;
}
/* the hr */
hr {
  margin-bottom: 20px;
}
/* logo two */
.logo-two {
  color: #2eb875;
  font-weight: 1000;
  font-size: 28px;
  margin-left: 30px;
  margin-top: 10px;
}
.sidenav a{
  text-decoration: none;
  color: #818181;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
  /* transform: scale(1.5); */
  color: #48484d;
  background-color: rgb(115, 194, 115);
}

/* The navigation menu links */
.sidenav {
  padding: 5px 5px 8px 32px;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.money {
  margin-top: 25px;
  font-weight: bolder;
  font-size: x-large;
}

#content {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.welcome {
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 100px;
}
.welcome h4 {
  font-size: xx-large;
  font-weight: lighter;
  font-family: euclidCircularB, Arial, sans-serif;
  padding-bottom: 10px;
}
.welcome p {
  font-size: medium;
  font-family: euclidCircularB, Arial, sans-serif;
  font-weight: bolder;
  color: #2eb875;
}
span {
  padding-right: 10px;
}
/* the cards */
#content {
  margin-top: 20px;
  margin-bottom: 100px;
}
.card {
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  border-radius: 0.5rem;
  width: 88%;
  height: 300px;
  text-align: center;
}
#card-one {
  font-size: 1.15rem;
  color: #48484d;
  text-align: center;
}
#card-one h5{
  font-size: small;
  margin-top: 70px;
  font-weight: 100;
  color: #757575;
}
#card-one span{
  margin-left: 20px;
}
#card-two h5{
  font-weight: 200;
  color: #757575;
}
#title-one {
  font-family: euclidCircularB, Arial, sans-serif;
}
#text-one h5 {
  color: #757575;
  font-size: 1rem;
} 
#data-button {
  float: right;
  margin-bottom: 70px;
  font-family: euclidCircularB, Arial, sans-serif;
}
#add-button{
  margin-right: 25px;
}

th {
  background-color: blue;
  color: white;
} 

.m-b-35 {
  margin-bottom: unset !important;
}
#table-head {
  margin-left: 50px;
  font-size: xx-large;
  font-weight: bold;
  font-family: euclidCircularB, Arial, sans-serif;
}
#table-content {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 50px;
} 
.form-control:focus{
  outline: none;
  box-shadow: none;
}
.form-select:focus{
  outline: none;
  box-shadow: none;
}
.form-label:focus{
  outline: none;
  box-shadow:none;
}
.form-select{
  color: #757575;
  outline: none;
  box-shadow:none;
}
#exampleModalLabel{
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
  font-family: euclidCircularB, Arial, sans-serif;
}

#regform{
  margin-top: 8px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:  #757575;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#all{
  background-color:whitesmoke;
}
#exampleModaldelete h5{
  align-content: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: euclidCircularB, Arial, sans-serif;
}
#body-delete{
  /* height: 40px; */
  color: red;
  text-align: center;
  font-weight: light;
  font-family: euclidCircularB, Arial, sans-serif;
  font-size: medium;
  /* background-color: rgb(236, 188, 188); */
}
#delete-content{
  background-color: whitesmoke;
  width: 70%
}
.ul dropdown-menu{
  margin-bottom: 40px;
  width: 50px;
}
#container-two{
  margin-top: 100px;
}
#signoff{
  margin-top: 100px;
}
#totals{
  margin-top: 35px;
  font-weight: bolder;
}
.parking{
  margin-top: 40px;
  padding-bottom: 20px;
}
.battery{
  padding-bottom: 20px;
}
.car{
  padding-bottom: 20px;
}
#button-signoff{
  padding-right: 20px;
}
#signoff-button{
  /* float: right; */
  margin-bottom: 30px;

}