body {
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* overflow: hidden; */
}

.logo{
    color: #2eb875;
    font-weight: 1000;
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
    margin-right: 50px;
}
  
img {
    width: 700px;
    height: 700px;
}
  
.container-main {
    margin: auto;
    height: auto;
}
  
h1 {
    text-align: center;
    padding-top: 15px;
    margin-right: 50px;
    font-weight: lighter;
}
  
form {
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
}
  
form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
  
form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.LogIn-box a {
    text-decoration: none;
    color: #2eb875;
}
  
p {
    text-align: center;
    font-size: 15px;
    color:#2eb875;
    margin-top: 10px;
}
